body{
    background-color: burlywood;
}

.container-btnplay{
    width: 100%;
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#btn-play{
    background-color: coral;
    font-size: 10rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50vh;
    height: 100%;
    text-align: center;
   
}

#play{
    text-decoration: none;
    color: white;
}

.selection, .comselection{
    width: 80%;
    height: 80%;
    /* margin-top: 40%; */
}

.container-selection{
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.refreshbutton{
    width: 10rem;
    height: 8rem;
}

.container-refresh{
    width: 100%;
    height: 8rem;
    text-align: center;
}

.selection, #refresh{
    cursor: pointer;
    /* transition: 100ms; */
}

.clicked{
    background-color: grey;
}

.font-text {
    color: red;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn-back{
    height: 100px;
}

.navbar{
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 5vh;
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 300px 500px;
    justify-items: center;
    align-items: center;
    height: 70rem;
}

.selections{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

.tilted{
    transform: rotate(-15deg)
}

.selected {
    background-color: grey;
}

