<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge 3</title>
    <link rel="stylesheet" href="css/styles-ch3.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    />
    <script
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section>
        <!-- nav -->
        <div class="container-fluid" id="w100">
          <nav class="navbar navbar-expand-lg bg-black-nav fixed-top">
            <a class="navbar-brand fw-bold fs-4 text-white" href="#">LOGO</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle Navbar"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-5 ">
                <li class="nav-item ms-3 p-2 fontnav ms-5">
                  <a class="nav-link text-white" href="<%= '/' %>">HOME</a>
                </li>
                <li class="nav-item ms-3 p-2 fontnav ms-5">
                  <a class="nav-link text-white" href="<%= '/work' %>">WORK</a>
                </li>
                <li class="nav-item ms-3 p-2 fontnav ms-5">
                  <a class="nav-link text-white" href="<%= '/contact' %>">CONTACT</a>
                </li>
                <li class="nav-item ms-3 p-2 fontnav ms-5">
                  <a class="nav-link text-white" href="<%= 'aboutme' %>">ABOUT ME</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto me-5 fontnav ms-5">
                <li class="nav-item p-2">
                  <a class="nav-link text-white" href="<%= '/signup' %>">SIGN UP</a>
                </li>
                <li class="nav-item me-5 p-2 fontnav ms-5">
                  <a class="nav-link text-white" href="<%= '/login' %>">LOGIN</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- end nav -->
          </div>

      </section>
  </body>
</html>
