<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge 3</title>
    <link rel="stylesheet" href="css/styles-ch3.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    />
    <script
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    ></script>
  </head>
  <body>
    <section>
      <!-- nav -->
      <div class="container-fluid" id="w100">
        <nav class="navbar navbar-expand-lg bg-black-nav fixed-top">
          <a class="navbar-brand fw-bold fs-4 text-white" href="#">LOGO</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle Navbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-5 ">
              <li class="nav-item ms-3 p-2 fontnav ms-5">
                <a class="nav-link text-white" href="<%= '/' %>">HOME</a>
              </li>
              <li class="nav-item ms-3 p-2 fontnav ms-5">
                <a class="nav-link text-white" href="<%= '/work' %>">WORK</a>
              </li>
              <li class="nav-item ms-3 p-2 fontnav ms-5">
                <a class="nav-link text-white" href="<%= '/contact' %>">CONTACT</a>
              </li>
              <li class="nav-item ms-3 p-2 fontnav ms-5">
                <a class="nav-link text-white" href="<%= '/aboutme' %>">ABOUT ME</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto me-5 fontnav ms-5">
              <li class="nav-item p-2">
                <a class="nav-link text-white" href="<%= '/signup' %>">SIGN UP</a>
              </li>
              <li class="nav-item me-5 p-2 fontnav ms-5">
                <a class="nav-link text-white" href="<%= '/login' %>">LOGIN</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- end nav -->

        <!-- title -->
        <div
          class="container-fluid banner-image d-flex justify-content-center align-items-center" id="title"
        >
          <div class="content text-center block">
            <h1 class="text-white">PLAY TRADITIONAL GAME</h1>
            <p class="text-white p1 w-100 mt-4">
              Experience new traditional game play
            </p>
            <a href="<%= '/game' %>" id="btn-play">
            <button
              type="button"
              class="btn btn-lg download-btn btn-warning fontbutton width-main-button"
            >
            PLAY NOW
            </button>
            </a>
          </div>
          <div
            class="block position-absolute justify-content-center text-center top-75"
          >
            <p class="text-white fw-bold p2">THE STORY</p>
            <a href="#about" ><img src="assets/scroll-down.svg" class="btn" /></a>
            
          </div>
        </div>
        <!-- end title -->
      </div>
    </section>

    <!-- gamechoice -->
    <section class="gamechoice-img">
      <div class="" id="about">
        <div class="row vh-100">
          <div class="col col-lg-4 h-500">
            <h2 class="text-white unbold rem">What's so special?</h2>
            <h1 class="text-white unbold">THE GAMES</h1>
          </div>
          <!-- carousel -->
          <div class="col-lg-8">
            <div
              id="carousel-game"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carousel-game"
                  data-bs-slide-to="0"
                  class="active circle-button"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carousel-game"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carousel-game"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="assets/rockpaperstrategy-1600.jpg"
                    class="d-block vh-img"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/main-bg.jpg"
                    class="d-block vh-img"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.jpg"
                    class="d-block vh-img"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel-game"
                data-bs-slide="prev"
              >
                <img src="assets/switch-left.svg" />
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carousel-game"
                data-bs-slide="next"
              >
                <img src="assets/switch-right.svg" />
              </button>
            </div>
          </div>
          <!-- end carousel -->
        </div>
      </div>
    </section>

    <!-- features -->
    <section>
      <div class="container-fluid features-img" id="game-features">
        <div class="col-md-4 float-end " id="features-content">
          <h2 class="text-white unbold">What's so special?</h2>
          <h1 class="text-white unbold text">FEATURES</h1>
          <br/>
          <div class="d-flex">
            <img src="assets/ellipse.svg" class="mb-auto p-2">
            <div class="ms-5">
              <h3 class="text-warning unbold">TRADITIONAL GAMES</h3>
              <h3 class="text-white unbold">
                If you miss your childhood, we provide many traditional games
                here
              </h3>
            </div>
          </div>
          <br />
          <div class="d-flex">
            <img src="assets/ellipse-outline.svg" class="mb-auto p-2">
            <h3 class="text-warning unbold ms-5">GAME SUIT</h3>
          </div>
          <br />
          <div class="d-flex">
            <img src="assets/ellipse-outline.svg" class="mb-auto p-2">
            <h3 class="text-warning unbold ms-5">TBD</h3>
          </div>
        </div>
      </div>
    </section>
    <!-- end features -->

    <!-- system requirements -->
    <section class="sysreq">
      <div class="sysreq-img" id="system-req">
        <div class="text-sysreq ">
          <p class="text-white">Can My Computer Run this game?</p>
        </div>
        <div class="row con-sysreq">
          <div class="float-start container col-5 " id="container-sysreq">
            <h1 class="text-white unbold fs-1">SYSTEM</h1>
            <h1 class="text-white unbold fs-1">REQUIREMENTS</h1>
            <br />

            <table class="table" id="tabel">
              <tbody>
                <tr>
                  <td>
                    <span class="text-warning d-block">OS:</span>
                    <span class="text-white">Windows 7 64-bit only </span>
                    <span class="d-block text-white"
                      >(No OSX support at this time)</span
                    >
                  </td>
                  <td>
                    <span class="text-warning d-block">PROCESSOR:</span>
                    <span class="d-block text-white"
                      >Intel Core 2 Duo @ 2.4 GHZ or
                    </span>
                    <span class="text-white">AMD Athlon X2 @ 2.8 GHZ</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="text-warning d-block">MEMORY:</span>
                    <span class="text-white">4 GB RAM</span>
                  </td>
                  <td>
                    <span class="text-warning d-block">STORAGE:</span>
                    <span class="text-white">8 GB available space</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <span class="text-warning d-block">GRAPHICS:</span>
                    <span class="d-block text-white"
                      >NVIDIA GeForce GTX 660 2GB or</span
                    >
                    <span class="text-white"
                      >AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          

          </div>
        </div>
      </div>
    </section>
    <!-- end sysreq -->

    <!-- topscore -->
    <section">
      <div class="topscore-img" id="quotes">
        <div class="row vh-100">
          <div class="col-lg-4 m-auto" id="text-topscore">
            <div class="content">
              <h1 class="text-white unbold">TOP SCORES</h1>
              <p class="text-white p1 w-100 mt-4">
                This top score from various games provided
                <span class="d-block">on this platform </span>
              </p>
              <button
                type="button"
                class="btn btn-lg download-btn btn-warning fontbutton width-main-button w-25"
              >
                see more
              </button>
            </div>
          </div>
          <div class="col-lg-7 d-flex flex-column  ">
            <div class="row row-cols-1 g-4">
              <div class="col">
                <!-- card pertama -->
                <div class="bg-dark p-3 col-md-8 h-fit float-md-end">
                  <div class="d-flex">
                    <img
                      src="assets/evan-lahti.jpg"
                      class="rounded-circle img-rounded"
                      alt="..."
                    />
                    <div class="d-inline ms-3">
                      <h5 class="card-text p1 text-warning fw-bold">
                        Evan Lahti
                      </h5>
                      <p class="card-text text-secondary">PC Gamer</p>
                    </div>
                    <img src="assets/twitter-card.png" class="ms-auto" id="twittercard-img" />
                  </div>
                  <div class="card- col-12">
                    <p class="card-text text-white ">
                      "One of my gaming highlights of the year."
                    </p>
                    <p class="card-text text-secondary">June 18, 2021</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <!-- card kedua -->
                <div class=" bg-dark p-3 col-md-8 float-md-start h-fit d-none d-sm-block" >
                  <div class="d-flex">
                    <img
                      src="assets/jada-griffin.jpg"
                      class="rounded-circle img-rounded"
                      alt="..."
                    />
                    <div class="d-inline ms-3">
                      <h5 class="card-text p1 text-warning fw-bold">
                        Jada Griffin
                      </h5>
                      <p class="card-text text-secondary">Nerdreactor</p>
                    </div>
                    <img src="assets/twitter-card.png" class="ms-auto" id="twittercard-img" />
                  </div>
                  <div class="card-body">
                    <p class="card-text text-white">
                      "The next big thing in the world of streaming and survival
                      games."
                    </p>
                    <p class="card-text text-secondary">July 10, 2021</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <!-- card ketiga -->
                <div class=" bg-dark p-3 col-md-8 h-fit m-auto d-none d-lg-block">
                  <div class="d-flex">
                    <img
                      src="assets/aaron-williams.jpg"
                      class="rounded-circle img-rounded"
                      alt="..."
                    />
                    <div class="d-inline ms-3">
                      <h5 class="card-text p1 text-warning fw-bold">
                        Aaron Williams
                      </h5>
                      <p class="card-text text-secondary">Uproxx</p>
                    </div>
                    <img src="assets/twitter-card.png" class="ms-auto" id="twittercard-img" />
                  </div>
                  <div class="card-body">
                    <p class="card-text text-white">
                      "Snoop Dogg Playing The Wildly Entertaining 'SOS' Is
                      Ridiculous."
                    </p>
                    <p class="card-text text-secondary">December 24, 2018</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end topscore -->

    <!-- newsletter -->
    <section>
      <div class="news-img">
        <div class="row vh-100">
          <div class="col-4 text-end  ">
            <img
              class="skull-img d-none d-lg-inline"
              src="assets/skull.png"
            />
          </div>
          <div class=" col-lg-6 ">
            <h2 class="text-white unbold">Want to stay in <span class="block">touch?</span></h2>
            <h1 class="text-white unbold">NEWSLETTER <span class="block">SUBSCRIBE</span></h1>
            <p class="text-white col-8 d-none d-lg-block">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>
            <br>
            <br>
            <div class="d-flex col-12 ">
              <div class="bg-dark p-2 w-25 rounded h-fit">
                <span class="text-secondary p1 d-block">Your email address</span>
                <span class="text-warning p1 d-block ">youremail@binar.co.id</span>
              </div>
              <button
                type="button"
                class="btn p1 fw-bold btn-lg btn-warning p-3 w-25 ms-2 "
              >Subscribe now
              </button>
            </div>
          </div>
          
          <!-- Footer -->
          <footer class=" text-center text-lg-start text-muted  " id="footer">
            <!-- Section: Social media -->
            <section class="p-4 border-bottom">

              <!-- top -->
              <div class="footer-fs p-4 text-end ">
                <a href="#title" class="me-4 text-reset">
                  <span class="text-white mx-5">MAIN</span>
                </a>
                <a href="#about" class="me-4 text-reset">
                  <span class="text-white mx-5">ABOUT</span>
                </a>
                <a href="#game-features" class="me-4 text-reset">
                  <span class="text-white mx-5">GAME FEATURES</span>
                </a>
                <a href="#system-req" class="me-4 text-reset">
                  <span class="text-white mx-5">SYSTEM REQUIREMENTS</span>
                </a>
                <a href="#quotes" class="me-4 text-reset">
                  <span class="text-white mx-5">QUOTES</span>
                </a>
                <a href="" class="me-4 text-reset">
                  <img src="assets/facebook.svg" class=" mx-5">
                </a>
                <a href="" class="me-4 text-reset">
                  <img src="assets/twitter.svg" class="mx-5">
                </a>
                <a href="" class="me-4 text-reset">
                  <img src="assets/vector.svg" class=" mx-5">
                </a>
                <a href="" class="me-4 text-reset">
                  <img src="assets/twitch.svg" class=" mx-5">
                </a>
              </div>
            </section>

            <!-- bottom  -->
            <section>
              <div class=" d-lg-flex justify-content-between p-3 align-content-center ">
                <div class="text-secondary">
                  <span></span>
                  <p>2018 Your Games, Inc. All Rights Reserved</p>
                </div>
                <div class="text-white fw-bold p1">
                  <a href="#" class="text-reset text-decoration-none">PRIVACY POLICY | </a>
                  <a href="#" class="text-reset text-decoration-none">TERMS OF SERVICES | </a>
                  <a href="#" class="text-reset text-decoration-none">CODE OF CONDUCT</a>
                </div>
                <!-- <p class="text-white fw-bold p1">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p> -->
                
              </div>
            </section>
            <!-- Section: Links  -->
          </footer>
          <!-- Footer -->
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
