<%- include("header") -%>

<head>
  <style>
    .container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 80vh;
    }

    .bg-black-nav {
      background-color: RGBA(0, 0, 0, var(--bs-bg-opacity, 0.6)) !important;
    }
    
    body {
      background-image: url(../assets/main-bg.jpg);
      /* background-color: black; */
      background-size: cover;
      background-position: center;
      height: 100vh;
    }

  </style>
</head>
<div class="banner-image">
<div class="container ">
    <form class="bg-body-secondary p-3 col-5" action="/api/v1/login" method="POST">
      <h2>Login</h2>
      <br>
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Enter username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Enter password" required>
      </div>
      <button type="submit" class="btn btn-primary ">Submit</button>
  </form>
</div>
<%- include("footer") -%>

</div>
