<%- include("header") -%>
<head>
  <style>
    .container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 80vh;
    }

    .bg-black-nav {
      background-color: RGBA(0, 0, 0, var(--bs-bg-opacity, 0.6)) !important;
    }

    body {
      background-image: url(../assets/main-bg.jpg);
      /* background-color: black; */
      background-size: cover;
      background-position: center;
      height: 100vh;
    }
  </style>
</head>

  <div
    class="container-fluid banner-image d-flex justify-content-center align-items-center"
    id="title"
  >
    <div class="content text-center block">
      <h1 class="text-white">WORK</h1>
    </div>
    <div
      class="block position-absolute justify-content-center text-center top-75"
    >
      <p class="text-white fw-bold p2">THE STORY</p>
      <a href="#about"><img src="assets/scroll-down.svg" class="btn" /></a>
    </div>
  </div>
  <%- include("footer") -%>
